.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
    opacity: 0;
}

.nuxt-progress {
  height: 5px;
  background-color: rgb(198, 241, 255);
}

.review-point {
  margin: 0 0.35rem;
}
